*.csproj
*.sln
.DS_Store
.idea
.vs/

/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Packages/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/PathStreamingGSAssets/*
/projects/**/Assets/PathStreamingGSAssets.meta
/projects/**/Assets/Packages/*
/projects/**/Assets/Packages.meta
/projects/**/Assets/Models~/*
/projects/**/Builds/*
/projects/**/eval/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
*.sln.DotSettings.user
